:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    --text-color: #2e2e2e;
    --border-color: #eaeaea;
    --border-color-dark: #d2d2d2;
    --primary: #0ea492;
    --border-radius: 0.5rem;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 0 1rem 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

.grid-content {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem 0;
}

.project-content {
  flex: 1 1 auto;
}

.form-container {
  flex: 1 0 24rem;
  max-width: 24rem;
  position: sticky;
  top: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0 0 0.75rem 0;
}

input, textarea {
  outline: none;
  box-shadow: none;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--border-color-dark);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
}

input:focus, textarea:focus {
  border-color: var(--primary);
}

textarea {
  resize: none;
}

.btn {
  outline: none;
  border: none;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: white;
  border-radius: 0.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  font-weight: 600;
}

.btn:hover {
  box-shadow: 0 0 0 0.125rem var(--primary);
}

.total-hr-block {
  border: 1px solid var(--border-color);
  border-radius:  var(--border-radius);
  padding: 1rem;
}


/* Table */
.table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.table td, .table th {
  border: 1px solid var(--border-color-dark);
  padding: 0.75rem;
  text-align: left;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--border-color);
  color: currentColor;
}

.table td.date,
.table td.time {
  width: 8rem;
}

.table td.time {
  font-weight: 600;
}

.title {
  margin-bottom: 0.75rem;
}

.error {
  color: #fc162a;
  margin: 0;
}